root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.txt]
trim_trailing_whitespace = false

[*.{h,hpp,c,cpp,cc,cxx,ixx,inl}]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4

[*.hlsl]
indent_style = space
indent_size = 4

[*.props]
indent_style = space
indent_size = 2

[*.targets]
indent_style = space
indent_size = 2

[*.vcxproj]
indent_style = space
indent_size = 2

[*.sln]
indent_style = space
indent_size = 2